html,body{
	margin :0%;
	box-sizing: border-box;
	width: 100%;
	height : 100%;
}
/*************************CSS VARIABlES****************************/
:root{
	--primary-color : #4458dc;
	--primary-color2 :#854fee;
	--title-color :#141313
	--text-color :#777777;
	--border-color :#201f1f17;
	--gradient-color : linear-gradient(90deg,  #4458dc 0%, #854fee 100%);
	--shadow-color : 0px 10px 30px rgba(118, 85, 225, 0.3);
	--box-shadow: 0px 10px 3px rgba(57,56,61,0.205);

	/**************************FONTS FAMILY VARIABLE*********************/

	--roboto"Roboto" , cursive;
}





/*import fonts from fonts.css file*/

@import url(./fonts.css);

/****************import gobal styling******************************/
@import url(./partials/_global.css);

/**************NAVIGATION*****************************/
.header_area .main-menu .navbar .navbar-brand{
	padding : 2rem 5rem;
}
.header_area .main-menu .navbar{
	padding: 1rem 15rem;
}
.header_area .main-menu .nav-item .nav-link{
	font : normal 500 15px/2px var(--roboto);
	
	text-transform: uppercase;
	
	padding: 1.7rem;
	color :black;
}
.header_area .main-menu .navbar-nav .active a{
	background : var(--gradient-color);
	-webkit-background-clip :text;
	-webkit-text-fill-color : transparent;
	background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
	background : var(--gradient-color);
	-webkit-background-clip :text;
	-webkit-text-fill-color : transparent;
	background-clip: text;
}

/**********************BANNER****************************/

.site-main .site-banner{
	background :url(images/home-banner.png) no-repeat 0% 50%;
}
.site-main .site-banner .site-title h3{
	padding-top : 35px;
	font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
	content :"";
	height :2px;
	width :18px;
	background : black;
	display :inline-block;
	margin-left :5%;
	transform : translate(-10px);
}
.site-main .site-banner .site-title h1{
	font-size : 5rem;
}
.site-main .site-banner .site-title h4{
	font-size: 1.5rem;
}
.site-main .site-banner .banner-image > img{
	padding : 7rem 0;
	width : 90rem;
}
.title-text{
	font: normal bold 50px/72px var(--roboto);
}
.text-uppercase{
	text-transform: uppercase;
}
.button{
	padding: .8rem 2.2rem;
	font : normal 500 16px/20px var(--roboto);
	position :relative;
	border : 3px solid transparent;
	border-radius : 4px ;
}
.button.primary-button{
	background :var(--gradient-color);
	background-clip :padding-box;
	color : whitesmoke;
	transition : background .6s ease;
	box-shadow: var(--box-shadow);
 }
 .button.primary-button:hover{
 	background : whitesmoke;
 	background-clip: padding-box;
 	color : black;
 }
 .button.primary-button::after,.button.secondary-button::after{
 	position : absolute;
 	top: -2px; left :-2px;
 	bottom : -2px; right : -2px;
 	background : var(--gradient-color);
 	content : "";
 	z-index :-1;
 	border-radius : 4px;
 }
 .button.secondary-button{
 	background : white;
 	background-clip : padding-box;
 	transition : background .6s ease;
 }
 .button.secondary-button:hover{
 	background : var(--gradient-color);
 	color :whitesmoke;
 	box-shadow: var(--box-shadow);
 }

 /***************************************ABOUT**************************************/

 .site-main .about-area{
 	padding : 8rem 5rem;

 }
 .site-main .about-area .about-title h2 > span{
 	display: block;
 	font : normal bold 49px/60px var(--roboto);
 	letter-spacing: 21px;
 }
 .site-main .about-area .about-title .paragraph > p{
 	padding : 1rem 0;
 }
 p.para{
 	color : var(--text-color);
 	font :normal 500 16px/25px var(--roboto);
 }

 /*********************************BRAND*********************************************/

.site-main .brand-area{
	padding : 1rem 10rem;
	margin-bottom: 4rem;
}
.site-main .brand-area .first-row .col-lg-4{
	display :flex;
	justify-content: center;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand{
	border : 1px solid var(--border-color);
	text-align: center;
	padding : 1.8rem 0rem;
	margin : .9rem 0;
	width : 180px;
	height : 100px;
	cursor : pointer;
	transition : transform .4s ease;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
	width :50%;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
	box-shadow: var(--box-shadow);
	transform :scale(1.1);
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover> img{
	filter: brightness(0.15);
}
.site-main .brand-area .experience-area{
	padding-left : 1rem;
}
.site-main .brand-area .experience-area span{
	display: block;
}
.site-main .brand-area .experience-area .years-area{
	background : url("images/client-info-bg.png") no-repeat 45px 20px;
	padding : 2rem 0;
	width : 40rem;
	height : 18rem;
	padding-left : 8rem;
	position : relative;
}
.site-main .brand-area .experience-area .bg-panel{
	position : absolute;
	left : -190px; top: 0%;
	background: #e029290a;
	width : 400px;
	height : 400px;
	margin-left : 340px;
	z-index : -1;
}
.site-main .brand-area .experience-area .years-area .years{
	font : normal bold 84px/40px var(--roboto);
	color : var(--primary-color2);
	z-index: 2;
	font-size: 50px;
}
.site-main .brand-area .experience-area .years-area h2 > span{
	font : normal 600 22px/30px var(--roboto);
}
.site-main .brand-area .experience-area .call-area{
	padding-left : 10rem;
}
.font-roboto{
	font-family: var(--roboto);
}

/***********************************SERVICES************************************************/
.site-main .services-area{
	padding : 7rem 2rem;
}
.site-main .services-area .services-title{
	padding : 0 14rem;
}
.site-main .services-area .services-title h1{
	font-size : 35px;
}
.site-main > .services-area .services{
	background: rgba(248, 252,253, 0.973);
	padding : 2rem 0;
	width : 16rem;
	margin: 5rem .5rem;
	transition : box-shadow .7s ease;
}
.site-main > .services-area .services:hover{
	box-shadow: var(--box-shadow);
}

/*********************************PROJECT***********************************/

.site-main .projet-area{
	padding :4rem 0;
}
.site-main .projet-area .button-group button{
	background : transparent;
	border : none;
	font : normal 500 16px/130px var(--roboto);
	text-transform: uppercase;
}
.site-main .projet-area .button-group button + button{
	padding-left : 3rem;
}
.site-main .projet-area .grid .our-project >.title h4{
	font : normal 700 25px/12px var(--roboto);
}
button:focus, button:active, button:hover, .btn:active, .btn.active{
	outline : 0px !important;
	box-shadow: none !important;
}
.site-main .projet-area .grid .our-project .img a:hover{
	filter : brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}
.title-h1{
	font : normal bold 39px/40px bar(--roboto);
}

/*********************************ABOUT ME****************************************/

.site-main .about-area .text-h1{
	font-size: 20px;
}
.site-main .about-area .about-title p{
	padding : 1rem 7rem;
}
.site-main .about-area .client{
	background: #ffffff10;
	box-shadow: var(--box-shadow);
	margin : 3rem 0;
}
.site-main .about-area .client .client-img{
	padding : 2rem;
}
.site-main .about-area .client .about-client h4{
	font: normal 500 21px/20px var(--roboto);
}
.site-main .about-area .client p{
	font-size : 14px;
}
 
/*******************************************SUBSCRIBE*********************************************************/

.site-main .subscribe-us-area .subscribe{
	background : url("images/subscribe-bg.png") no-repeat;
	padding : 10rem 0;
	margin : 3rem auto;
}
.site-main .subscribe-us-area .subscribe .subscribe-title h4{
	font : normal 700 30px/30px var(--roboto);
	color :whitesmoke;
}
.site-main .subscribe-us-area .subscribe .subscribe-title p{
	color : whitesmoke;
	padding : 1rem 4rem;
}
.site-main .subscribe-us-area .subscribe form .input-textbox input{ 
	width : 400px;
	padding : 1.5rem 1rem;
	border : 1px solid whitesmoke; 
	background : transparent;
	color :white;
	font : normal 500 17px/20px var(--roboto); 
}
.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
	color :whitesmoke;
}
.site-main .subscribe-us-area .subscribe form .btn-submit button{
	background: whitesmoke;
	color : #000;
	padding : .4rem 1rem;
}

/*******************************FOOTER**************************************************/

footer.footer-area{
	padding : 5rem 0;
	background-image: url("images/footer-bg.png") no-repeat;
}
footer.footer-area .social h4{
	font :normal 500 23px/30px var(--roboto);
}
footer.footer-area .social a {
	font-size: 22px;
	padding : 2rem;
	color : var(--border-color);
}
footer.footer-area .social a:hover{
	color : var(--primary-color); 
}